@keyframes fade-in{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes text-zoom-in{
  from{
    font-size: $font-size-navigation-medium;
    color: $font-color;
  }
  to{
    font-size: $font-size-navigation-hover-medium;
    color: $font-color-hover;
    //transform: scale(1.1);
  }
}

@keyframes text-zoom-out{
  from{
    font-size: $font-size-navigation-hover-medium;
    color: $font-color-hover;
  }
  to{
    font-size: $font-size-navigation-medium;
    color: $font-color;
  }
}

@keyframes fragFade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}


@keyframes item-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes to-left {
  from {
    width: 100%;
    font-size: 24px;
  }
  to {
    width: 25%;
    font-size: 16px;
  }
}

@keyframes to-center {
  from {
    width: 25%;
    font-size: $font-size-navigation-hover;
  }
  to {
    width: 100%;
    font-size: $font-size-navigation;
  }
}
