@import "variables";
@import "animations";

.main-content {
  .blog-fragment {
    width: 96%;
    height: 120px;
    padding: 24px;
    text-align: center;

    @include breakpoint($medium-portrait) {
      width: auto;
      height: auto;
      position: absolute;
    }

    animation: fragFade;
    animation-duration: 6s;
    animation-iteration-count:infinite;

    h3{
      display: inline-block;
      width: auto;
      text-align: left;
      border-bottom: solid 1px $border-color-navigation;
      border-right: solid 1px $border-color-navigation;
      padding: 4px 12px 4px 4px;
      font-size: 20px;
      color: $font-color-active;
      margin: 0;
      @include breakpoint($medium-portrait) {
        margin: -0.9em 0 0 0;
      }
    }

    .content {
      padding: 0;
      margin: 0;
      font-family: $font-6;
      z-index: 100;
      width: auto;
      line-height: 1.1em;
      text-shadow: 4px 4px 4px $background-color-navigation;
      // Loop over fonts array to create clas for each font
      @each $type in $fragment_fonts {
        $ctr: index($fragment_fonts, $type);
        &.font-#{$ctr} {
          font-family: $type;
        }
      }

      // Loop over colors array to create clas for each color
      @each $color in $fragment_colors {
        $ctr: index($fragment_colors, $color);
        &.color-#{$ctr} {
          color: $color;
        }
      }
    }
  }
}