@import "variables";
@import "animations";

.main-content {

  overflow: hidden;

  .navigation {
    width: 100%;
    height: auto;
    font-size: $font-size-navigation;
    text-align: center;
    background-color: transparent;
    animation: none;

    @include breakpoint($medium-portrait) {
      font-size: $font-size-navigation-medium;
      margin: 2em 0 0 0;
      animation: to-center;
      animation-duration: 2s;
      background-color: $background-color-navigation;
    }

    .blog-link,
    .home-link{
      display: block;
      margin: 0.2em;
      height: auto;
      background-color: $background-color-navigation;
      border: solid 1px $border-color-navigation;
      border-radius: 4px;

      @include breakpoint($medium-portrait) {
        position: absolute;
        width: 250px;
        margin: 0;
        opacity: 0.6;
      }

      &:hover {
        z-index: 100000000 !important;
        opacity: 1;
      }

      .link-button {
        width: 100%;
        text-align: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        display: inline-block;
        padding: 0.2em 1em;
        margin: 0.4em;
        color: $font-color;
        font-size: $font-size-navigation;
        @include breakpoint($medium-portrait) {
          font-size: $font-size-navigation-medium;
        }
        animation: text-zoom-out;
        animation-duration: 1s;
        transition-timing-function: ease-in-out;

        &.active {
          color: $font-color-active;
        }

        &:hover {
          @include breakpoint($medium-portrait) {
            animation: text-zoom-in;
            animation-duration: 1s;
            transition-timing-function: ease-in-out;
          }
          color: $font-color-hover;
          font-size: $font-size-navigation-hover;
          @include breakpoint($medium-portrait) {
            font-size: $font-size-navigation-hover-medium;
          }
        }
      }
    }
  }

  &.hascontent {
    overflow: visible;

    .navigation {
      float: left;
      width: 100%;
      padding: 0;
      border-radius: 20px;
      animation: none;

      @include breakpoint($medium-portrait) {
        position: fixed;
        width: 25%;
        margin: 2em 0 0 0;
      }

      @include breakpoint($medium-landscape) {
        width: 25%;
        margin: 2em 0 0 0;
        animation: to-left;
        animation-duration: 1s;
      }

      .blog-link,
      .home-link{
        display: inline-block;
        position: initial;
        border: none;
        height: auto;
        width: 100%;
        text-align: left;

        .link-button {
          text-align: left;
          font-size: 12px;
          margin: 0;
          padding: 0.5em 1em;
          @include breakpoint($medium-portrait) {
            font-size: $font-size-navigation-medium;
          }

          &:hover {
            font-size: $font-size-navigation-hover;
            @include breakpoint($medium-portrait) {
              font-size: $font-size-navigation-hover-medium;
            }
          }
        }
      }
    }
  }
}





