// Breakpoints, starting widths
$medium-portrait: 737px; // iphone+s width in landscape = 736px
$medium-landscape: 1025px;

// Typography
$font-family-main-title: "Raleway", sans-serif;
$font-family-body: sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$weight-normal: 500;
$font-size-normal: 16px;
$font-size-navigation: 16px;
$font-size-navigation-hover: 18px;

$font-size-navigation-medium: 20px;
$font-size-navigation-hover-medium: 24px;

// Colors
$background-color: #e9e9e9;
$background-color-navigation: #ddd;
$background-code: #e1e1e1;
$font-color-code: #0a0a0a;
$border-color-navigation: #ccc;
$font-color: #202020;
$font-color-active: #138496;
$font-color-hover: #6eca19;

// Fonts for fragments
$font-1: 'Libre Baskerville';
$font-2: 'Shadows Into Light';
$font-3: 'Short Stack';
$font-4: 'Amatic SC';
$font-5: 'Cinzel';
$font-6: 'Domine';
$font-7: 'Playfair Display SC';
$font-8: 'Ultra';
$font-9: 'Space Mono';
$font-10: 'VT323';
$font-11: 'Cutive Mono';
$font-12: 'arial';

// Create array with fonts
$fragment_fonts: (
        $font-1,
        $font-2,
        $font-3,
        $font-4,
        $font-5,
        $font-6,
        $font-7,
        $font-8,
        $font-9,
        $font-10,
        $font-11,
        $font-12
);

// Colors for fragments
$color-1: red;
$color-2: green;
$color-3: blue;
$color-4: orange;
$color-5: yellow;
$color-6: black;
$color-7: grey;

// Create array with fonts
$fragment_colors: (
        $color-1,
        $color-2,
        $color-3,
        $color-4,
        $color-5,
        $color-6,
        $color-7
);