// Module imports
// @import "breakpoint";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
// Local imports
@import "variables";
@import "fonts";
@import "animations";
@import "navigation";
@import "fragments";

html, body{
  background-color: $background-color;
  color: $font-color;
  font-family: $font-family-body;
  font-size: $font-size-normal;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  background-color: $background-color;
  display: block;
}

code{
  background-color: $background-code;
  color: $font-color-code;
  display: block;
  white-space: pre;
  overflow-x: auto;
  margin-top: -1.3em;
  padding: 0 0.5em;
  font-family: "Cutive Mono";
  font-size: 1.2em;
}

.blog-content{
  animation: fade-in;
  animation-duration: 4s;
  float: left;
  padding: 0 1%;
  width: 98%;

  @include breakpoint($medium-portrait){
    padding: 0;
    margin-left: 28%;
    width: 70%;

    .blog-image{
      img{
        float: left;
        width: 40%;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }

  @include breakpoint($medium-landscape){
    padding: 0;
    margin-left: 28%;
    width: 70%;
  }

}

h2{
  font-family: $font-family-main-title;
}

.link-button {
  font-family: $font-family-main-title;
}